<h1>Hello !</h1>
<p>こんにちは！</p>
<form method="post" action="/sendtext">
  <input type="text" name="message">
  <input type="submit" value="Send">
  <select name="list">
    <option value="Orange">オレンジ</option>
  </select>
</form>
<img src="images/300_250_c.png"></img>
<img src="images/300_250.png"></img>

